#main {
    margin: 5% auto;
    padding: 3% 15%;
}

#main img {
    opacity: 0.8;
}
#main img:hover {
    opacity: 1;
}

h1 {
    opacity: 0.9;
}

body {
    background-color: #FFF2F2;
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Ubuntu', sans-serif;*/
}
nav {
    background-color: #EF9F9F;
}
.navbar-brand:hover {
    font-weight: bold;
}
.nav-item:hover {
    font-weight: bold;
}

.row {
    margin: 3%;
}

.shubha-pic {
    width: 100%;
    height: auto;
    orientation: landscape;
    overflow: hidden;
}

.col {
    margin: auto;
}

.right-col {
    text-align: right;
}

/* STYLE FOR CONTACT*/

#main-contact {
    margin: 0 auto;
    padding: 3% 15%;
}

.icon {
    color: #EF9F9F;
    padding: 5%;
}

.icon:hover {
    color: #FFE3A9;
}


.contact-box {
    text-align: center;
    padding: 5%;
}