#main {
    margin: 0 auto;
}
body {
    background-color: #FFF2F2;
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Ubuntu', sans-serif;*/
}

.shubha-pic {
    width: 300px;
    height: 400px;
}

.col {
    margin: auto;
}

/* STYLE FOR CONTACT*/

#main-contact {
    margin: auto;
}